<section class="main-banner ">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" routerLink="/">
                <img src="../../assets/100xCoin-assets/landing-page/logo.png" alt="" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/">WELCOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/whitepaper">WHITE PAPER</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/howtobuy">HOW TO BUY</a>
                      </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <a class="btn-common" routerLink="/swap-now">Swap Now</a>
                  </form>
            </div>
          </nav>
        <div class="row ptb">
            <div class="col-sm-6">
                <div class="inner-box">
                    <h1>100xCoin</h1>
                    <p>100xCoin features 7% transaction fees split between burn functions, automatic liquidity pool generation, and a development wallet. This paper will discuss the benefits of this system, as well as foreshadow coming developments for the platform. </p>
                    <div class="download">
                    <!-- <a routerLink="/whitepaper">DOWNLOAD WHITE PAPER</a> -->
                    </div>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/Eloannouncements">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/100XCoin_">
                                <img src="../../assets/100xCoin-assets/landing-page/twitter.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://discord.gg/uHCyjbhJfG">
                                <img src="../../assets/100xCoin-assets/landing-page/discord.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCethqkKxL-Rce5yChOgBORQ">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCxjoBU68uYQJcYAKV-tWCgA/featured?app=desktop">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://medium.com/100xcoin">
                                <img src="../../assets/100xCoin-assets/landing-page/medium.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://t.me/ELOofficialchat">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://www.instagram.com/100x.coin/?igshid=4kawtx085ekg">
                                <img src="../../assets/100xCoin-assets/landing-page/instagram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                    </ul>
                    <ul class="inner">
                        <li>Fully Transparent Working</li>
                        <li>Driven By An Amazing Community</li>
                        <li>Automatic Liquidity Pools Mechanism</li>
                        <li>Automatic & Manual Burns</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-img">
                    <img src="../../assets/100xCoin-assets/white-paper/header-astronaut.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="howitworks ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-tile">
                   <h2>Introduction</h2>
                 
                   <p>Getting to over 1 Billion USD in market cap is a fairly straightforward process. We are following in the paths of our ancestors similar to how Facebook overtook MySpace. While our peers are stopping at the moon, 100x is aiming straight at the sun.
                    </p>
                   <p>100x is a deflationary token built on the Binance Smart Chain. The coin features 7% transaction fees split between burn functions, automatic liquidity pool generation, and a development wallet.</p>
                   <p style="color: #a608f6; font-size: 24px;">DYOR. This document is  not financial advice
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="muanal-page ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <div class="inner-tile">
                    <h2>100xCoin History</h2>
                 
                    <p>100xCoin was originally founded and launched as Elo by Ken the Crypto in March of 2021. Ken has been teaching his followers how to buy and sell crypto since the first bull run in 2017. After he made his six-figures in one year trading cryptocurrencies, he started several businesses including a successful digital marketing agency.</p>
                    <p>But most importantly, he is the first crypto influencer to develop and launch a coin on the Binance Smart Chain. While other founders were scared to show their face, Ken showed how a doxxed owner can lead a community in DeFi.</p>
                    <p>Because of the unrivaled transparency in the development of the cryptocurrency, the Elo community outgrew the tokenomics of the original coin and migrated to $100xCoin with better tokenomics for sustainable growth. </p>
                    
                   <!-- <a href="" class="main-clr">Lorem ipsum, or lipsum as it is sometimes known</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="auto ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-tile">
                    <h2>Values</h2>
                    <p>The community is still evolving but at the time of this writing, 100xCoin values certain traits uncommon in DeFi. </p>
                    <ul>
                        <li>Transparency</li>
                        <li>Sustainability</li>
                        <li>Education</li>
                        <li>Supporting other Communities</li>
                        <li>And Shilling. (We really value shilling)</li>
                    </ul>
                    <p>But in all seriousness, the 100xCoin community has organically grown to a group of people who value the longevity of projects. Coming together on Live Streams with Ken has given the entire team a unique perspective into how cryptocurrencies are built, sold, and operated. What other community has held under a 10M market cap for a week just because it was better for long term growth of the project? I can't name one.                
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<section class="muanal-page ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <div class="inner-tile">
                    <h2>Target Community Members</h2>
                 
                    <p>As money continues to flow out of centralized finance: banks, ATM's, piggybanks, 100x focuses on attracting two distinct groups to our community:</p>
                    <p>01- First time buyers who have not made a crypto trade before. We view it as our responsibility to educate new investors on the ins and outs of crypto trading and ask them to purchase coins responsibly. As always encouraging DYOR and only investing what you can afford to lose.</p>
                    <p>02- Cryptocurrency experts that have made money on other high growth projects this year. We respect the gains other communities have made and welcome them into the 100x ecosystem. These members are valuable for educating newcomers, while also growing the value of the token. This combination of community members will provide 100x the needed peer group for coming use case plans.</p>
                    
                   <!-- <a href="" class="main-clr">Lorem ipsum, or lipsum as it is sometimes known</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="auto ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-tile">
                    <h2>How much of each transaction will be converted to Liquidity on PancakeSwap?</h2>
                    <p>The benefit of this function is two-fold for holders:  </p>
                    <p>1st: is that constant amount of liquidity addition to a pool solidifies its future as removal of tokens from that pool will not cause a huge variation to the price. In the case of all other tokens that do not utilize this function, price variation from holders selling too much is unavoidable.</p>
                    <p>2nd: is that this 2% tax on each transaction acts as an arbitrage resistant mechanism which when done secures the volume of 100xCoin as a reward for the holders.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="muanal-page ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <div class="inner-tile">
                    <h2>How does the Automatic LP function work?</h2>
                 
                    <p>The Auto LP function in the contract pulls tokens from sellers and buyers alike, and adds them to the LP creating a solid price floor.</p>
                    <p> fee is split 50/50 half of which is sold by the contract into BNB, while
                        the other half of the SAFEMOON tokens are paired automatically with the
                        previously mentioned BNB and added as a liquidity pair on Pancake Swap. 
                        </p>
                    
                   <!-- <a href="" class="main-clr">Lorem ipsum, or lipsum as it is sometimes known</a>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="muanal-pages ptb">
    <div class="container">
        
        <h2 class="main-clr pb-3">Tokenomics & Distribution</h2>
        <p>The starting 100x token supply is 935,312,500,000,000 (935+ Trillion) and is distributed across wallet holders with no reserve for founders or developers. All 100x can be bought or sold freely.</p>
        <p>The tokenomics of 100xCoin are:</p>
        <div class="row">
            <div class="col-sm-3 text-center">
                <div class="inner-tile">
                    <h3>Token Name:</h3>
                    <h3 class="main-clr"> 100xCoin	</h3>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="inner-tile">
                    <h3>Ticker:</h3>
                    <h3 class="main-clr">100x</h3>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="inner-tile">
                    <h3>Total Supply:</h3>
                    <h3 class="main-clr"> 935 T</h3>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="inner-tile decimal">
                    <h3>Decimals:</h3>
                    <h3 class="main-clr">18</h3>
                </div>
            </div>
      
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="inner-text">
                    <h2 class="main-clr">Taxed fee on each transaction:</h2>
                    <h5 class="pb-3">Total Tax fee: 7%</h5>
                    <h4 class="main-clr">Breakdown: </h4>
                    <p>1. Automatic LP Generation Mechanism: 2%</p>
                    <p>2. Automatic Burn Rate: 2%</p>
                    <p>3. Manual Burns: 1.5%</p>
                    <p>4. Dev Wallet: 1.5%</p>
                    <p class="pt-3">These tokenomics were built from community advice after reviewing other successful projects this year. These specific features are tuned for hyper growth of the 100x token. Each benefit will be discussed in turn.</p>
                    <p>A key change from popular projects is there is no redistribution of tokens. Redistribution does not actually reward holders in the way that most other tokens promote. By sending small amounts of tokens to wallet holders, the redistribution actually gives more "Selling Power" to holders.</p>
                    <p>A key change from popular projects is there is no redistribution of tokens. Redistribution does not actually reward holders in the way that most other tokens promote. By sending small amounts of tokens to wallet holders, the redistribution actually gives more "Selling Power" to holders. This is why the 100x token burns 3.5% of transactions. In this way, holders are rewarded by a constant increase in token worth as the circulating supply decreases. Redistribution only is beneficial to the top 20 or so wallets, and does not help community growth in the long term. The liquidity pool function was taken from the successful project Safemoon.</p>
                    <p>In order to create more liquidity in the PancakeSwap pairing, the automatic liquidity function taxes buyers and sellers 2% each transaction.50% of this transaction is used to buy BNB. Then the other 50% of 100x is pair ed with the purchased BNB an added to the liquidity pool. Yes,it's just like Safemoon; but instead of a hard-fork like Safemars or Safewhatever, we have layered in tokenomics designed for growth of the 100x token and our community goals.</p>
                    <p>Which leads us to the most unique component of 100x, the 1.5% of funds reserved for marketing and development. At the time of this writing 100x is traded at roughly 1M in daily volume. This 1.5% represents 15k USD that we will use to market the growth of the token, and develop future platform features. Compare this to Safemoon who has to fundraise each time they want to release new features.</p>
                    <p>Growth is capped and speed is limited. These funds increase our likelihood to go parabolic before the bull-run ends. This wallet address will be shared with the community so that all transactions are transparent and clear.</p>
                    <p>At 100x we view marketing, sales, and development in a flywheel fashion. Roughly 40% of wallet funds will be used for marketing to attract new users, 20% will be used for a sales support team (Telegram for now), and 40% will be used for development of feature sets to be released in the coming months.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="doing ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-heading">
                    <h2>Near-Term Roadmap</h2>
                    <p>At this time the 100xCoin community is focused on the key activities needed for hyper growth. A high-level roadmap is shown below, and may change as the community suggests directions:</p>
                    <img src="../../assets/100xCoin-assets/landing-page/line.png" alt="" class="img-fluid" style="width: 320px;">
                   
                </div>
            </div>
            <div class="col-sm-6">
                <!-- <div class="inner-heading">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-heading text-center">
                    <img src="../../assets/100xCoin-assets/white-paper/road.png" alt="" class="img-fluid">
                </div>
                <h2>Conclusion</h2>
                <p>It's important to remember that 100x started out as a meme coin with 0 utility planned. It is from the continued support of the community that we are going to develop beyond this level. At the same time there are the risks of adoption that come with any DeFi project. The team is mitigating those risks by focusing on values of transparency and sustainability when making decisions for all holders of 100x.</p>
                <p>Hop in, we're going places!</p>
              
            </div>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="inner-form">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="../../assets/100xCoin-assets/landing-page/icon.png" alt="" class="img-fluid" style="width: 80px;">
                        </li>
                        <li class="list-inline-item">
                            <h1>100xCoin</h1>
                        </li>
                    </ul>
                    <p>100xCoin is a fully transparent, community driven, deflationary cryptocurrency token that is a rebrand of the famous 100xElon meme coin. </p>
                  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inner-tile text-right">
                    <a routerLink="/swap-now" class="btn-common">Swap Now</a>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/Eloannouncements">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/100XCoin_">
                                <img src="../../assets/100xCoin-assets/landing-page/twitter.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://discord.gg/uHCyjbhJfG">
                                <img src="../../assets/100xCoin-assets/landing-page/discord.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCethqkKxL-Rce5yChOgBORQ">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                    </ul>
                    <ul  class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCxjoBU68uYQJcYAKV-tWCgA/featured?app=desktop">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://medium.com/100xcoin">
                                <img src="../../assets/100xCoin-assets/landing-page/medium.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://t.me/ELOofficialchat">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://www.instagram.com/100x.coin/?igshid=4kawtx085ekg">
                                <img src="../../assets/100xCoin-assets/landing-page/instagram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="inner-line">
                    <img src="../../assets/100xCoin-assets/landing-page/footer-line.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-8">
                <div class="inner-line">
                    <h6>&copy; 100xCoin 2021. All Rights Reserved</h6>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="links">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a routerLink="/">
                                WELCOME
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/whitepaper">
                                WHITE PAPER
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link" routerLink="/howtobuy">HOW TO BUY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
  