<section class="main-banner ">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="../../assets/100xCoin-assets/landing-page/logo.png" alt="" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/">WELCOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/whitepaper">WHITE PAPER</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/howtobuy">HOW TO BUY</a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <a class="btn-common" routerLink="/swap-now">Swap Now</a>
              </form>
            </div>
          </nav>
        <div class="row ptb">
            <div class="col-sm-6">
                <div class="inner-box">
                    <h1>100xCoin</h1>
                    <p>100xCoin is a fully transparent, community driven, deflationary cryptocurrency that is a rebrand of the famous 100xElon meme coin. </p>
                    <a routerLink="/swap-now" class="btn-common">Swap Now</a>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/Eloannouncements">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/100XCoin_">
                                <img src="../../assets/100xCoin-assets/landing-page/twitter.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://discord.gg/uHCyjbhJfG">
                                <img src="../../assets/100xCoin-assets/landing-page/discord.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCethqkKxL-Rce5yChOgBORQ">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCxjoBU68uYQJcYAKV-tWCgA/featured?app=desktop">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://medium.com/100xcoin">
                                <img src="../../assets/100xCoin-assets/landing-page/medium.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://t.me/ELOofficialchat">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://www.instagram.com/100x.coin/?igshid=4kawtx085ekg">
                                <img src="../../assets/100xCoin-assets/landing-page/instagram.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-img">
                    <img src="../../assets/100xCoin-assets/landing-page/header-illustartion.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="howitworks ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="inner-tile text-center">
                    <img src="../../assets/100xCoin-assets/landing-page/record-holders-icon.png" alt="" class="img-fluid" >
                    <h3>------</h3>
                    <p>Record Holders</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inner-tile text-center">
                    <img src="../../assets/100xCoin-assets/landing-page/liquidity-generated-icon.png" alt="" class="img-fluid" >
                    <h3>---,---,--- <small>USD</small></h3>
                    <p>Liquidity Generated</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inner-tile text-center">
                    <img src="../../assets/100xCoin-assets/landing-page/market-cap-icon.png" alt="" class="img-fluid" >
                    <h3>---,--- <small>M</small></h3>
                    <p>Market Cap</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inner-tile text-center">
                    <img src="../../assets/100xCoin-assets/landing-page/burned-icon.png" alt="" class="img-fluid" >
                    <h3>---,--- <small>T</small></h3>
                    <p>100xCoin Burned</p>
                </div>
            </div>
        </div>

        <div class="inner-bg">
            <div class="row">
                <div class="col-sm-12">
                    <div class="inner-side text-center">
                        <h5>*
                            These Stats Are Currently Being Updated Manually. 
                            
                            Last Updated: April 8, 2021 11:31 am EST
                            
                            </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="popular">
    <div class="container">
        <div class="row ptb">
            <div class="col-sm-6">
                <div class="inner-heading">
                    <h2>Key Features</h2>
                    <img src="../../assets/100xCoin-assets/landing-page/line.png" alt="" class="img-fluid" style="width: 320px;">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-heading">
                    <!-- <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p> -->
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="inner-tiles">
                <img src="../../assets/100xCoin-assets/landing-page/community-driven-icon.png" alt="" class="img-fluid">
                <h3>100% Community Driven</h3>
                <h6 class="text-center pt-2">Ensuring full decentralization in a project, 100xCoin will be controlled, secured, and maintained by stakeholders of the project, which is the community.
                </h6>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="inner-tiles">
                <img src="../../assets/100xCoin-assets/landing-page/auto-lp-generation.png" alt="" class="img-fluid">
                <h3>Auto LP Generation</h3>
                <h6 class="text-center pt-2">A function that causes a certain percentage of tax on each transaction, automatically generating liquidity locked inside PancakeSwap liquidity pools.
                </h6>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="inner-tiles">
                <img src="../../assets/100xCoin-assets/landing-page/thorough-burn-plan.png" alt="" class="img-fluid">
                <h3>Thorough Burn Plan</h3>
                <h6 class="text-center pt-2">Making sure the value of 100x stays stable or accrues in value by removing tokens from supply and therefore creating additional incentives for holders.

                </h6>
            </div>
          </div>
        </div>
       
    </div>
</section>
<section class="behind">
    <div class="container">
        <div class="row  ptb">
            <div class="col-sm-6">
                <div class="inner-heading">
                    <h2>Who's Behind 100x?</h2>
                    <img src="../../assets/100xCoin-assets/landing-page/line.png" alt="" class="img-fluid" style="width: 320px;">
                </div>
                <p class="pt-5">100xCoin originally founded and launched as $Elo by Ken the Crypto in March of 2021. Ken, better known as Ken the Crypto, has been teaching his followers how to buy and sell crypto since the first bull run in 2017.</p>
                <p>Ken is the first crypto influencer to develop and launch a coin on the Binance Smart Chain.</p>
                <p>Because of the unrivaled transparency in the development of the cryptocurrency, the $Elo
                    community outgrew the tokenomics of the original coin and migrated to $100xCoin with
                    better tokenomics for sustainable growth.</p>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/100xCoin-assets/landing-page/ken-the-crypto-image.png" class="img-fluid fft">
            </div>
        </div>
    </div>
</section>

<section class="doing">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-heading pt-5">
                    <h2>What's Next?</h2>
                    <img src="../../assets/100xCoin-assets/landing-page/line.png" alt="" class="img-fluid" style="width: 320px;">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-heading">
                    <!-- <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-heading text-center">
                    <img src="../../assets/100xCoin-assets/landing-page/road.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="inner-form">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="../../assets/100xCoin-assets/landing-page/icon.png" alt="" class="img-fluid" style="width: 80px;">
                        </li>
                        <li class="list-inline-item">
                            <h1>100xCoin</h1>
                        </li>
                    </ul>
                    <p>100xCoin is a fully transparent, community driven, deflationary cryptocurrency token that is a rebrand of the famous 100xElon meme coin.</p>
                  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inner-tile text-right">
                    <a routerLink="/swap-now" class="btn-common">Swap Now</a>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/Eloannouncements">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/100XCoin_">
                                <img src="../../assets/100xCoin-assets/landing-page/twitter.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://discord.gg/uHCyjbhJfG">
                                <img src="../../assets/100xCoin-assets/landing-page/discord.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCethqkKxL-Rce5yChOgBORQ">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                    </ul>
                    <ul  class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCxjoBU68uYQJcYAKV-tWCgA/featured?app=desktop">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://medium.com/100xcoin">
                                <img src="../../assets/100xCoin-assets/landing-page/medium.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://t.me/ELOofficialchat">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://www.instagram.com/100x.coin/?igshid=4kawtx085ekg">
                                <img src="../../assets/100xCoin-assets/landing-page/instagram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="inner-line">
                    <img src="../../assets/100xCoin-assets/landing-page/footer-line.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-8">
                <div class="inner-line">
                    <h6>&copy; 100xCoin 2021. All Rights Reserved</h6>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="links">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a routerLink="/">
                                WELCOME
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/whitepaper">
                                WHITE PAPER
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/howtobuy">
                                HOW TO BUY
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
  