<section class="main-banner ">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" routerLink="/">
                <img src="../../assets/100xCoin-assets/landing-page/logo.png" alt="" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/">WELCOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/whitepaper">WHITE PAPER</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/howtobuy">HOW TO BUY</a>
                      </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <a class="btn-common" routerLink="/swap-now">Swap Now</a>
                  </form>
            </div>
          </nav>
        <div class="row ptb">
            <div class="col-sm-6">
                <div class="inner-box">
                    <h1>100xCoin</h1>
                    <p>100xCoin has three key features: Automatic Liquidity Provision (2%), Auto burns on each transaction (2%) and manual burns (1.5%) everyday depending on the trade volume. These features increase the scarcity of every 100x COIN in circulation while also solidifying 100x’s future.</p>
                    <a class="btn-common" href="https://www.youtube.com/channel/UCethqkKxL-Rce5yChOgBORQ">Watch Video Tutorial</a>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/Eloannouncements">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/100XCoin_">
                                <img src="../../assets/100xCoin-assets/landing-page/twitter.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://discord.gg/uHCyjbhJfG">
                                <img src="../../assets/100xCoin-assets/landing-page/discord.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCethqkKxL-Rce5yChOgBORQ">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCxjoBU68uYQJcYAKV-tWCgA/featured?app=desktop">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://medium.com/100xcoin">
                                <img src="../../assets/100xCoin-assets/landing-page/medium.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://t.me/ELOofficialchat">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://www.instagram.com/100x.coin/?igshid=4kawtx085ekg">
                                <img src="../../assets/100xCoin-assets/landing-page/instagram.png" alt="" class="img-fluid" style="width: 40px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-img">
                    <img src="../../assets/100xCoin-assets/how-to-buy/header-astronaut.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="howitworks ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-tile">
                   <h2>HOW TO BUY 100xCoin?</h2>
                   <p>There are two ways you can get 100xCoin:</p><p></p>
                   <p>1 - Swap your <span class="pinki">100xElon</span> coins for 100xCoin. This option is available now!</p>
                   <p>2 - Buy <span class="pinki">100xCoin</span> from PancakeSwap at a much higher rate. This option will be available on <span class="pinki">12th April 2021.</span> </p>
                   <p class="pt-3"><span class="pinki">Watch the video guide below to learn more!</span></p>
           
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fourth ">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="main-round">
            <div class="row brdr mt-3">
              <div class="col-sm-3 ">
                <div class="inner-text">
                  <h5 class="">Public Sale Address:</h5>
                </div>
              </div>
              <div class="col-sm-7 ">
                <div class="inner-text1 form-group ">
                  <input type="text" class="green" readonly class=" for-new" placeholder="address"
                    [(ngModel)]="model.address" #address="ngModel" value="">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="inner-text2 text-center">
                  <button class="btn-comon " (click)="copyMessage()">Copy</button>
                  <a *ngIf="showcopy" style="color: #fff; width: 100%; font-size: 16px;">Copied</a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="main-round pt-3 pb-5" >
            <div class="row brdr">
              <div class="col-sm-3">
                <div class="inner-text pt-2">
                  <h5 class="">Contract Address:</h5>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="inner-text1 form-group ">
                  <input type="text" class="green" readonly class="for-new" placeholder="address"
                    [(ngModel)]="model.addressContract" value="">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="inner-text2 text-center">
                  <button class="btn-comon hdr-btn2" (click)="copyMessageContractAddress()">Copy</button>
                  <span><a *ngIf="showcopy1" style="color: #fff; width: 100%; font-size: 16px;">Copied</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<section class="popular">
    <div class="container">
        <div class="row ptb">
            <div class="col-sm-12">
                <div class="inner-heading text-center">
                    <h2><a href="https://www.youtube.com/channel/UCethqkKxL-Rce5yChOgBORQ">WATCH VIDEO TUTORIAL</a></h2>
                    <iframe class="responsive-iframe" width="100%" height="500px" src="https://www.youtube.com/embed/-FlNjrTUwtg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <img src="../../assets/100xCoin-assets/how-to-buy/video-player.png" alt="" class="img-fluid" > -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="inner-form">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="../../assets/100xCoin-assets/landing-page/icon.png" alt="" class="img-fluid" style="width: 80px;">
                        </li>
                        <li class="list-inline-item">
                            <h1>100xCoin</h1>
                        </li>
                    </ul>
                    <p>100xCoin is a fully transparent, community driven, deflationary cryptocurrency token that is a rebrand of the famous 100xElon meme coin.</p>
                  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inner-tile text-right">
                    <a routerLink="/swap-now" class="btn-common">Swap Now</a>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/Eloannouncements">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/100XCoin_">
                                <img src="../../assets/100xCoin-assets/landing-page/twitter.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://discord.gg/uHCyjbhJfG">
                                <img src="../../assets/100xCoin-assets/landing-page/discord.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCethqkKxL-Rce5yChOgBORQ">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                    </ul>
                    <ul  class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCxjoBU68uYQJcYAKV-tWCgA/featured?app=desktop">
                                <img src="../../assets/100xCoin-assets/landing-page/youtube.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://medium.com/100xcoin">
                                <img src="../../assets/100xCoin-assets/landing-page/medium.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://t.me/ELOofficialchat">
                                <img src="../../assets/100xCoin-assets/landing-page/telegram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=" https://www.instagram.com/100x.coin/?igshid=4kawtx085ekg">
                                <img src="../../assets/100xCoin-assets/landing-page/instagram.png" alt="" style="width: 40px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="inner-line">
                    <img src="../../assets/100xCoin-assets/landing-page/footer-line.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-8">
                <div class="inner-line">
                    <h6>&copy; 100xCoin 2021. All Rights Reserved</h6>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="links">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a routerLink="/">
                                WELCOME
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/whitepaper">
                                WHITE PAPER
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/howtobuy">
                                HOW TO BUY
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
  
  